body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #153f5e;
    color: white;
}
.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px ;
}
.col-4 {
    width: 33.33%;
}
.col-6{
    width: 50%;
}
h3{
    color: #70adee;
    font-weight: 100;
}
h1{
    text-align: center;
}
.navbar {
  margin: 20px 0;
}
.navbar a {
  text-decoration: none;
  margin-right: 15px;
  font-weight: 600; 
  padding-right: 15px;
}
.navbar a:hover{
 color: rgb(81, 164, 241);
}
.white{
  color: white;
}
.border{
    border-right: 1px solid white;
}
.navbar a:hover {
  text-decoration: underline;
}
.details{
    margin-top: 50px;
}
h1 span{
    color: crimson;
}
.card {
  background-color:#0f598d;
  border-radius: 10px;
  padding: 20px;
  margin:  10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}
.card h4 {
  color: white;
  font-size: 18px;
}
.card h1 {
  font-size: 24px;
  margin-bottom:10px;
}
.blue{
   color: rgb(81, 164, 241);
}
.crimson{
    color:rgb(236, 105, 28);
}
.active{
    color: yellow;
}
.green{
    color: rgb(71, 231, 71);
}
select#locname {
  padding: 10px 15px;
  margin: 20px 0;
  font-size: 16px;
  border: 1px solid #68c2d4;
  border-radius: 8px;
  background-color: #206c9e;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
option {
  background-color: #093653;
  color: #fff;
}
